body {
    background-color: black;
}

.label-tool {
    display: flex;
    justify-content: center;
    gap: 24px
}

.sidebar {
    height: 35%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 10px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    text-decoration-color: white;
}

.sidebar .closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openBtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.openBtn:hover {
    background-color: #444;
}

.toolbar-wrapper {
    flex-direction: column;
    margin: 1rem;
    display: inline;
    float: right;
}
.toolbar-wrapper > div {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
    width: 420px;
}
.toolbar-wrapper > button {
    width: 100px;
}
.points-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 300px;
    overflow-y: auto;
}
.points-wrapper > div {
    width: 100%;
    background-color: aliceblue;
}

.konvajs-content {
    border: 1px solid black;
    margin: 1rem;
}

.status-buttons {
    white-space: pre-line;
}

.labelDeleteBtn {
    background-color: red;
    color: white;
    border: none;
    margin: 4px;
    width: 6rem;
    border-radius: 2px;
    float: right;
}

.accent-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0.5rem;
}

.accent-cell {
    border: 1px solid #000;
    padding: 8px;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

.trex-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.trex-container img {
    height: 150px;
    width: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.trex-container img:hover {
    opacity: 100;
}

#profile-label-btn {
    margin-left: 200px;
    margin-top: 0;
}

.navbar-btn a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pendingBtn {
    background-color: red;
    color: white;
    font-size: 20px;
}

.profile-container {
    height: 340px;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.tablets-list-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: auto;
}

.profile-detail {
    margin-bottom: 10px;
    padding: 10px;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
    background-color: #f9f9f9;
}

.profile-detail h3 {
    font-size: 1.2rem;
    color: #555;
    margin: 0;
}

.profile-detail p {
    font-size: 1rem;
    color: #333;
    margin: 0;
}

#checkBtn {
    background-color: orange;
    color: white;
    font-size: 20px;
}

#doneBtn {
    background-color: green;
    color: white;
    font-size: 20px;
}

.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.otp-input {
    width: 40px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    text-align: center;
    font-size: 36px;
    cursor: not-allowed;
    pointer-events: none;
}

.otp-input:focus {
    border-bottom: 3px solid orange;
    outline: none;
}

.otp-input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}

#eye-icon-login {
    position: fixed;
    right: 625px;
    bottom: 478px;
    transform: translateY(-25%);
    color: #aaa;
    cursor: pointer;
}

#eye-icon {
    position: initial;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: 20px;
}

.note-container {
    height: 40px;
    font-size: 16px;
    margin-left: 20px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}