body {
    background-color: black;
    min-height: 100vh;
    position: relative;
    padding-bottom: 45px;
}

html {
    overflow-y: scroll;
}

.label-tool {
    display: flex;
    justify-content: center;
    gap: 24px;
    overflow: auto;
    position: static;
}

.konvajs-content {
    margin: 1rem;
}

.toolbar-wrapper {
    flex-direction: column;
    display: flex;
    float: right;
    margin: 1rem;
}

.lang-btns {
    padding-right: 10px;
}

.toolbar-wrapper > div {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
    width: 420px;
}

.toolbar-wrapper > button {
    width: 100px;
}

.textField-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 300px;
    width: 475px;
    overflow-y: auto;
}

.custom-char-table {
    display: flex;
    flex-direction: row;
}

.points-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 300px;
    overflow-y: auto;
}

.points-wrapper > div {
    width: 100%;
    background-color: aliceblue;
}

.labelDeleteBtn {
    background-color: red;
    color: white;
    border: none;
    margin: 4px;
    width: 6rem;
    border-radius: 2px;
    float: right;
}

.accent-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0.5rem;
}

.accent-cell {
    border: 1px solid #000;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    height: 2rem;
    width: 2rem;
}

.inputField {
    height: 3rem;
    width: 15rem;
}

#label-idx {
    font-size: 20px;
}

input[type="radio"]:checked + span {
    font-weight: bold;
}

.trex-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin-bottom: 10px;
}

.trex-container img {
    height: 150px;
    width: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.trex-container img:hover {
    opacity: 100;
}

#profile-label-btn {
    display: inline-flex;
    margin-right: -10px;
}

.navbar-btn a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container {
    height: 340px;
    padding: 10px;
    margin: auto;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.tablets-list-container {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: auto;
}

.profile-detail {
    margin-bottom: 10px;
    padding: 10px;
    border-top: 3px solid #eee;
    border-bottom: 3px solid #eee;
    background-color: #f9f9f9;
}

.profile-detail h3 {
    font-size: 1.2rem;
    color: #555;
    margin: 0;
}

.profile-detail p {
    font-size: 1rem;
    color: #333;
    margin: 0;
}

.scroll-buttons {
    border: black;
    display: inline-block;
}

.otp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.otp-input {
    width: 40px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    margin: 0 10px;
    text-align: center;
    font-size: 36px;
    cursor: not-allowed;
    pointer-events: none;
}

.otp-input:focus {
    border-bottom: 3px solid orange;
    outline: none;
}

.otp-input:nth-child(1) {
    cursor: pointer;
    pointer-events: all;
}

#eye-icon-login {
    position: fixed;
    right: 625px;
    bottom: 478px;
    transform: translateY(-25%);
    color: #aaa;
    cursor: pointer;
}

#eye-icon {
    position: initial;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: 20px;
}

.note-container {
    height: 40px;
    font-size: 16px;
    margin-left: 20px;
}

.footer {
    text-align: center;
    padding: 0.5rem;
    background-color: midnightblue;
    color: #fff;
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.bbox-annot {
    display: flex;
    gap: 16px;
    position: relative;
    left: 0;
    top: 0;
}

.bbox-annot > * {
    flex: 1;
}

.react-picture-annotation {
    left: 10px;
    top: 10px;
    display: flex;
}

.annot-data {
    overflow-y: scroll;
    border: 0.5px solid;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    max-width: 500px;
    height: 610px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
}

.coord-data {
    display: block;
}

.p-comment {
    font-size: 25px;
    position: relative;
    margin-left: 10px;
}

.p-comment:hover {
    font-weight: bold;
    cursor: pointer;
}

.p-rowkey {
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
}

.custom-input {
    display: flex;
    gap: 10px;
    background: black;
    padding: 10px;
}

.input-column {
    flex: 1;
}

.select-column {
    width: 130px;
    color: white;
}

.fa-thumbs-up {
    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
}

.thumbs-up-btn {
    background: none;
    border: none;
    color: white;
}

.input-del {
    margin-left: 10px;
}

.annot-warning {
    font-size: 20px;
}

.points-wrapper-pre {
    white-space: pre-wrap;
}

.status-buttons {
    align-items: center;
}

.assign-tablet-container {
    display: inline;
}

.assign-tablet-h2 {
    text-align: center;
}

.assign-success {
    text-align: center;
}

.select-tablet-h3 {
    text-align: center;
}

.assign-tablet-list {
    height: 600px;
    overflow-y: scroll;
}

.assign-radio-btn {
    margin-right: 7px;
}

.assign-student-list {
    height: 600px;
    width: 300px;
    overflow-y: scroll;
}

.assign-student-h3 {
    text-align: center;
}

.assign-student-checkbox {
    margin-right: 7px;
}

.remove-assignation-div {
    margin-left: 70px;
}

.remove-assignation-h3 {
    text-align: center;
}

.assigned-tablets-delete-div {
    height: 600px;
    width: 300px;
    overflow-y: scroll;
}

.assigned-tablets-delete-label {
    margin-left: 10px;
}

.alert-success {
    margin-left: 10px;
}

.alert-danger {
    margin-left: 10px;
}

.tool-buttons {
    display: flex;
    align-items: center;
}

.syll-counter {
    margin: 10px;
}

.undo-btn {
    margin-left: 5px;
}

.annot-toolbar-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.annot-toolbar-syll {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#row-no {
    width: 50px;
}

#col-no {
    width: 50px;
}

.info-buttons-div {
    position: relative;
    display: inline-block;
}

.info-buttons {
    position: absolute;
    top: 110%;
    left: 15%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 5px;
    white-space: nowrap;
    z-index: 999;
}

#profile-btn {
    margin-left: 100px;
}

#token-info-btn {
    cursor: pointer;
}

#shortcut-info-btn {
    cursor: pointer;
    margin-right: 100px;
}

.card-body {
    width: 280px;
}

.card-img-top {
    height: 175px;
}

.fa-pen-to-square {
    cursor: pointer;
}

.set-custom-id-div {
    width: 150px;
}

.set-custom-id-btn {
    border: none;
}

.login-card {
    border-radius: 1rem;
    max-width: 400px;
}

.signup-card {
    border-radius: 1rem;
    max-width: 400px;
}

.profile-header {
    text-align: center;
}

.tablets-header {
    text-align: center;
}

.profile-tablets-list {
    height: 280px;
    overflow-y: scroll;
}

.upload-success-alert {
    text-align: center;
}

.upload-container {
    position: static;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}